/* -**VARIABLES**- */
:root {
    --header-col: rgb(126, 190, 243);
    --sidebar-col: rgba(230, 203, 223);
    --sidebar-highlight: rgb(235, 174, 218);
    --todo-highlight: rgb(236, 234, 234);
    --bg-col: whitesmoke;
    --partition-col: grey;
    --section-col: whitesmoke;
    --font-col: grey;
}

#content {
    height: 100vh;

    background-color: var(--bg-col);
    
    display: flex;
    flex-direction: column;

    height: 100vh;
}

header {
    display: flex;
    flex: 1;
    padding: 0px 5%;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    background-color: var(--header-col);
}

header h1 {
    font-size: 20px;
}

main {
    display: flex;
    width: 100%;
    
    /* border: 1px red solid; */
    flex: 9;
}

main > * {
    padding: 5px;
}

h3 {
    margin-bottom: 4%;
}

/* SIDEBAR */
#sidebar {
    /* border: 1px solid red; */
    background-color: var(--sidebar-col);
}

/* Sidebar toggle */
#sidebar input[type=checkbox] {
    display: none;
}

#sidebar input[type=checkbox]:checked ~ * .expandedTab {
    display: none;
}

.toggleIcon {
    transition: transform .25s;
    opacity: 0.8;
}

.toggleIcon:hover {
    opacity: 1;
}

.toggleIcon.collapsed {
    transform: rotate(90deg);
    transition: transform .25s;
}

/* Sidebar items */
#sidebar li {
    display: flex;
    margin: 5px 0px;
    /* padding: 5px 0px; */
    border-radius: 4px;

    cursor: default;
    list-style: none;

    align-items: center;
}

#sidebar li span {
    white-space: nowrap;
    width: 100%;
    font-size: 20px;

    cursor: pointer;
}

.tabIcon {
    padding: 5px;
    cursor: pointer;
}

.deleteFilterIcon {
    opacity: 0.7;
}

.deleteFilterIcon:hover {
    opacity: 1;
}

#sidebar .selectedTab {
    background-color: var(--sidebar-highlight);
}

#newFilterButton {
    display: flex;
    width: 100%;
    align-items: center;
    border-style: none;
    font-size: 17px;

    margin: 5px 0px;
    padding: 0px;
    border-radius: 4px;
    
    background-color: var(--sidebar-col);
}

#newFilterButton:hover {
    cursor: pointer;
    background-color: var(--sidebar-highlight);
}


/* TASKS SECTION */
#taskViewer {
    padding: 20px 30px;
    width: 100%;
}

#taskViewer h2 {
    font-size: 35px;
    margin: 17px 0 0 0;
    padding: 0px 5px;
}

#taskViewer > h2::after {
    content: "";
    display: block;
    
    background-color: var(--partition-col);
    height: 3px;
    /* width: 90%; */
    border-radius: 3px;
    
    margin: 5px 0;
}

/* Tasks */
#taskViewer li {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    
    align-items: center;
    list-style: none;
    
    padding: 7px 5px;
    border-radius: 3px;
}

#taskViewer li:hover {
    background-color: var(--todo-highlight);
}
#taskViewer input[type=checkbox] {
    display: none;
}

#taskViewer input[type=checkbox]:checked ~ * {
    color: grey;
}

#taskViewer li label {
    display: flex;
    align-items: baseline;
    width: 100%;
    
    cursor: pointer;
}

li label span {
    overflow: hidden;
    height: 1em;
    font-size: 20px;
    margin-right: 8px;
}

.taskEntryName {
    width: 40%;
}

.taskEntryDescription {
    font-size: 13px;
    width: 45%;
    /* background-color: red; */
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskEntryDueDate {
    font-size: 13px;
    color: grey;
    width: 18%;
}

.priority1 {
    color: green;
}

.priority2 {
    color: orange;
}

.priority3 {
    color: red;
}

.taskIcon {
    cursor: pointer;
    opacity: 0.7;
}

.taskIcon:hover {
    opacity: 1;
}

#addTask {
    display: flex;
    width: 100%;
    align-items: center;
    border-style: none;
    font-size: 17px;

    margin: 5px 0px;
    padding: 7px 0px;
    border-radius: 4px;

    background-color: inherit;
}

#addTask:hover {
    cursor: pointer;
    background-color: rgb(216, 250, 166);
}

/* Popups */

.popUpOverLay {
    display: flex;
    position: fixed;
    z-index: 2;
      
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: rgba(0, 0, 0, 0.4);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newTaskPopUp,
.newFilterPopUp {
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 1px 1px 50px 2px;

    padding: 10px;
}

/* New filter popup */
.newFilterPopUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filterNameInput {
    margin: 5px;
    font-size: 1em;
}

.submitButton,
.closeButton {
    cursor: pointer;
    padding: 2px;
}

.submitButton:hover {
    color: greenyellow;
}

.closeButton:hover {
    color: red;
}

/* New task popup */
.newTaskPopUp {
    display: flex;
    flex-direction: column;
}

#taskForm {
    display: flex;
    flex-direction: column;
}

.newTaskInput {
    margin: 5px;
}

#taskDescriptionInput {
    height: 2rem;
    resize: none;
}

.taskFormOptionsDiv {
    display: flex;
    justify-content: space-evenly;
}

.inactive {
    display: none;
}

/* FOR TESTING! */
.popUpOverLay,
.newFilterPopUp {
    /* display: flex; */
}
/* FOR TESTING! */
.popUpOverLay,
.newTaskPopUp {
    /* display: flex; */
}
