/* -**VARIABLES**- */
:root {
    --header-col: rgba(100, 175, 237, 0.6);
    --sidebar-col: rgba(230, 203, 223, 0.6);
    --bg-col: whitesmoke;
    --list-highlight: rgba(230, 203, 223);
    --partition-col: grey;
    --section-col: whitesmoke;
    --font-col: grey;
}

body {
    height: 100vh;

    background-color: var(--bg-col);
    
    display: flex;
    flex-direction: column;
}

header {
    height: 3rem;

    background-color: var(--header-col);

    display: flex;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex: 1;
}

main > * {
    flex: 1;
    /* border: 1px var(--partition-col) solid; */

    padding: 20px;
}

/* SIDEBAR */

/* 
nav input[type=checkbox]:checked ~ ul {
    display: none;
} 
*/

#sidebar input[type=checkbox]:checked ~ ul,
#sidebar input[type=checkbox]:checked ~ button {
    display: none;
}

#sidebar {
    flex: 1;
    background-color: var(--sidebar-col);
}

.navHeading {
    padding: 5px 0px 10px 0px;
}

.project {
    padding: 5px;
}

#sidebar li {
    cursor: pointer;
    list-style: none;
}

#sidebar li:hover {
    background-color: var(--list-highlight);
}

#sidebar li input[type=checkbox] {
    display: none;
}

#sidebar li input[type=checkbox]:checked ~ ul {
    display: none;
}

/* TASKS SECTION */
#taskViewer {
    flex: 4;
}

#taskViewer > h2::after {
    content: "";
    display: block;
    
    background-color: var(--partition-col);
    height: 3px;
    /* width: 80%; */
    border-radius: 3px;
    
    margin: 5px 0;
}

#taskViewer li {
    list-style: none;
    
    padding: 5px 0;
    border-radius: 3px;

    cursor: pointer;
}

#taskViewer li:hover {
    background-color: var(--list-highlight);
}

#taskViewer input[type=checkbox]:checked ~ * {
    color: red;
}